:root {
  --footer-bg: #000;
  --footer-link-color: #fff;
}

.footer {
  background: var(--footer-bg);

  &__column {
    lost-column: 4/12;
    color: var(--footer-link-color);

    & a {
      color: #f00;
      text-decoration: underline;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: var(--space-xs);
    font-family: var(--font);
    font-size: 2rem;
    font-weight: var(--w-light);
    color: var(--white);
  }

  &__social {
    list-style: none;
    margin: 0;
    padding: 0;

    & a {
      overflow: hidden;
      text-decoration: none;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;
      width: 38px;
      height: 38px;
      line-height: 38px;
      border-radius: 4px;
      margin-right: 0.25em;
      background-color: none;
      color: #fff;
      font-size: 2.1rem;

      &[data-network="facebook"] {
        background-color: var(--c-facebook);
      }

      &[data-network="twitter"] {
        background-color: var(--c-twitter);
      }

      &[data-network="gplus"] {
        background-color: var(--c-gplus);
      }

      &[data-network="pinterest"] {
        background-color: var(--c-pinterest);
      }

      &[data-network="youtube"] {
        background-color: var(--c-youtube);
      }

      &[data-network="instagram"] {
        background-color: var(--c-instagram);
      }

      svg {
        font-size: 1em;
      }
    }

    & li {
      display: inline-block;

      &:last-child a {
        margin-right: 0;
      }
    }
  }
}

.sub-footer {
  background: var(--footer-bg);
  color: var(--footer-link-color);
  border-top: 1px solid var(--mine);
  padding: var(--space-sm) 0;

  & .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__links {
    flex: 1 1 auto;
  }

  &__details {
    text-align: right;
  }

  &__links,
  &__details {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 1.4rem;
      line-height: 2;

      & + li::before {
        content: '/';
        margin: 0 0.7em;
      }
    }

    & a {
      color: var(--footer-link-color);

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

@media (--tablet) {
  .footer {
    &__column {
      lost-column: 12/12;
      padding-left: 0 !important;

      & + .footer__column {
        margin-top: var(--space-xs);
        padding-top: var(--space-xs);
        border-top: 1px solid var(--mine);
      }
    }

    &__column--logo {
      display: none;
    }
  }

  .sub-footer {
    & .container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__details {
      margin-top: var(--space-sm);
    }
  }
}
