:root {
  --header-height: 120px;
  --header-padding: 5px;
  --header-font-size: 2.1rem;
  --nav-font-weight: var(--w-light);
  --nav-highlight-height: 4px;
  --nav-text-speed: 150ms;
  --nav-highlight-speed: 300ms;
  --nav-highlight-easing: ease-in-out;
  --mobile-nav-width: 16em;
  --mobile-nav-speed: 400ms;
}

.header {
  height: calc(var(--header-height) + var(--header-padding));
  padding-bottom: var(--header-padding);

  &__brand {
    lost-column: 4/12;
    height: var(--header-height);
  }

  &__navbar {
    lost-column: 8/12;
  }
}

.header__brand {
  display: flex;
  align-items: center;
}

.header__title {
  font-family: var(--font);
  font-size: var(--header-font-size);
  font-weight: var(--w-regular);
  white-space: nowrap;

  & svg {
    display: none;
    height: 45px;
    width: auto;
  }

  & > a {
    color: #000;
  }
}

.header__logo {
  margin-right: var(--space-xs);

  & svg {
    width: 173px;
    height: auto;
  }
}

.header__skip {
  background: #000;
  color: #fff;
  padding: var(--space-xs) !important;
  position: absolute !important;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__header {
    display: none;
  }

  &__button {
    height: var(--space-lg);
    padding-left: var(--space-lg);
    border: 0;
    appearance: none;
    background: #fff;
    font-size: 2rem;
    position: relative;
    outline: 0;
    transition: color var(--nav-highlight-speed) var(--nav-highlight-easing);

    &:hover {
      color: var(--uom);
    }

    & .icon-bar {
      position: absolute;
      left: 1.4rem;
      display: block;
      width: 1.4em;
      height: 2px;
      background: currentColor;

      &:nth-child(1) {
        top: 19px;
      }

      &:nth-child(2) {
        top: 30px;
      }

      &:nth-child(3) {
        top: 41px;
      }
    }
  }

  & .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;

    & a {
      font-weight: var(--nav-font-weight);
      font-size: var(--header-font-size);
      height: var(--header-height);
      display: flex;
      align-items: center;
      transition: color var(--nav-text-speed) var(--nav-highlight-easing);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        height: 0;
        background: currentColor;
        transition: height var(--nav-highlight-speed) var(--nav-highlight-easing), width var(--nav-highlight-speed) var(--nav-highlight-easing);
        display: none;
      }
    }

    & li {
      margin-bottom: 0;

      &:hover a,
      &.active a {
        color: #f00;
      }
    }

    & li + li {
      display: inline-block;
      margin-left: var(--space-sm);
    }
  }
}

@media (--nav) {
  .header {
    &__brand {
      lost-column: 8/12;
    }

    &__navbar {
      lost-column: 4/12;
    }
  }

  .navbar__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--header-height);
  }

  .navbar__collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--mobile-nav-width);
    height: 100vh;
    background: #fff;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid var(--uom);
    z-index: 100;
    transform: translate3d(var(--mobile-nav-width), 0, 0);
  }

  .navbar {
    flex-direction: row;

    & .nav {
      flex-direction: column;

      &__highlight {
        display: none !important;
      }

      & a {
        display: block;
        height: var(--space-lg);
        line-height: var(--space-lg);
        padding-left: var(--space-xs);

        &::before {
          top: 0;
          left: 0;
          height: 100% !important;
          width: 0;
          display: block;
        }
      }

      & li {
        margin-left: 0 !important;
        border-bottom: 1px solid #000;

        &.active a::before {
          width: var(--nav-highlight-height);
        }
      }

      & + .nav {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  #body,
  .header,
  .footer,
  .navbar__collapse {
    transition: transform var(--mobile-nav-speed) ease-in-out, width var(--mobile-nav-speed) ease-in-out;
  }

  body.is-mobile-nav {
    & #body,
    & .header,
    & .footer,
    & .navbar__collapse {
      transition: transform var(--mobile-nav-speed) ease-in-out, width var(--mobile-nav-speed) ease-in-out;
    }

    & .navbar__collapse {
      transform: translate3d(0, 0, 0);
    }

    & #body,
    & .header,
    & .footer {
      width: calc(100% - var(--mobile-nav-width));
    }
  }
}

@media (--nav-mobile) {
  body.is-mobile-nav {
    & .navbar__collapse {
      transform: translate3d(var(--mobile-nav-width), 0, 0);
    }

    & #body,
    & .header,
    & .footer {
      width: 100%;
      transform: translate3d(calc(0 - var(--mobile-nav-width)), 0, 0);
    }
  }

  .header {
    &__brand {
      lost-column: 9/12 0 0;
    }

    &__navbar {
      lost-column: 3/12 0 0;
    }
  }

  .header__logo {
    & svg {
      width: 169px;
      height: auto;
    }
  }

  .header__title {
    display: inline-block;
    white-space: normal;
    line-height: 1.2;
  }

  .navbar__button {
    & .label {
      display: none;
    }
  }
}

@media (--mobile) {
  .header {
    height: 175px;

    &__brand {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: none;
    }

    &__logo {
      margin-top: 1.8em;
      transform: none;
    }

    &__title {
      margin-top: 1em;
    }
  }
}
