/*
// Buttons
*/

:root {
  --button-padding: 1em;
  --button-speed: 250ms;
  --button-easing: cubic-bezier(0.19, 1, 0.22, 1);
  --button-delay: 50ms;
  --button-font-size: 2rem;
}

.btn-wrap {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: var(--button-padding);
  background: var(--black);
  color: var(--white);
  position: relative;
  overflow: hidden;
  border: 0;
  outline-width: 0;
  user-select: none;

  font-family: var(--font);
  font-size: var(--button-font-size);
  font-weight: var(--w-bold);
  line-height: 1;
  text-align: left;
  transition: background 200ms ease-in-out;

  &:focus {
    outline-width: 10px;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
