/*
// Page & classes
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-weight: var(--w-regular);
  font-size: 1.6rem;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

.container {
  lost-center: var(--container-width) var(--container-padding);

  @media (--below-desktop) {
    lost-center: 100% 4%;
  }
}

#body,
.header,
.footer {
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  margin: 25px 0;
  text-align: left;
  border: 0;
  background: #000;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --unhidden: {
    position: initial;
    border: initial;
    overflow: initial;
    padding: initial;
    margin: initial;
    clip: initial;
    height: initial;
    width: initial;
  }
}

p.empty {
  padding: 0;
  margin: 0;
  line-height: 0;
}

:target::before {
  content: "";
  display: block;
  height: 300px;
  margin: -300px 0 0;
}
