:root {

  --section-arrow: {
    &::before {
      content: "";
      position: absolute;
      bottom: calc(100% - 20px);
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0;
      border-color: #000 transparent transparent transparent;
      margin-left: -20px;
    }
  }
}
