/*
// Forms
*/

form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0 !important;
}

label {
  display: block;
  padding-bottom: var(--space);
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0 1px;
}

input,
textarea {
  width: 100%;
  border: 2px solid #000;
  padding: 1rem;
  background: #fff;
  font-family: var(--font);
  max-width: 100%;

  &.error {
    background: #f00;
  }
}

label.error {
  padding: 10px 0;
  color: #f00;
}

textarea {
  min-height: 120px;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}

button.submit,
input[type="submit"] {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 0;
  border: 0;
  background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #aaa;
}
