/*
// Typography
*/

/* Headings */
h1,
.alpha {
  font-size: var(--heading-1);
  font-weight: var(--w-bold);
  line-height: 1.1;
}

h2,
.beta {
  font-size: var(--heading-2);
  font-weight: var(--w-semi-bold);
  line-height: 1.2;
}

h3,
.gamma {
  font-size: var(--heading-3);
  font-weight: var(--w-regular);
  line-height: 1.3;
}

h4 {
  font-size: var(--heading-4);
  font-weight: var(--w-semi-bold);
  line-height: 1.3;
}

h5 {
  font-size: var(--heading-5);
  font-weight: var(--w-semi-bold);
  line-height: 1.4;
}

h6 {
  font-size: var(--heading-6);
  font-weight: var(--w-semi-bold);
  line-height: 1.5;
}

.section__title {
  width: 100%;
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
  color: #000;
  outline-width: 0;

  &:hover {
    text-decoration: none !important;
  }

  &:focus {
    outline-width: 5px;

    &.hidden {
      @apply --unhidden;
    }
  }

  & p a {
    &:hover,
    &:focus {
      color: #000;
    }
  }
}

.nav ul li a {
  font-family: var(--font);
  font-size: 1.6rem;
  text-transform: uppercase;
}

/* Text */
p {
  margin-bottom: 3rem;
  line-height: 1.5;

  &:empty {
    display: none;
  }

  & strong {
    font-weight: bold;
  }

  & em {
    font-style: italic;
  }
}

blockquote {
  margin-bottom: var(--space);
  padding-left: var(--space-xs);
  margin-left: var(--space-xs);
  border-left: 1px solid black;
  font-style: normal;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #000;
}
