/*
// Variables
*/

:root {
  /* Colors */
  --white: #fff;
  --black: #000;

  /* Base font-size */
  --em-base: 16px;

  /* Social network colours */
  --c-facebook: #3b5998;
  --c-twitter: #55acee;
  --c-gplus: #dd4b39;
  --c-youtube: #b00;
  --c-instagram: #e95950;
  --c-pinterest: #cb2027;

  /* Font weights */
  --w-light: 200;
  --w-regular: 400;
  --w-medium: 500;
  --w-semi-bold: 600;
  --w-bold: 700;

  /* Font families */
  --font: "open sans", system-ui;
  --font-secondary: "open sans", system-ui;

  /* Spacing */
  --space: 1em;
  --space-xs: 2rem;
  --space-sm: 3rem;
  --space-md: 4rem;
  --space-lg: 6rem;
  --space-xl: 8rem;
  --pad: 2em;
  --pad-input: 0.5em;

  /* Heading sizes */
  --heading-1: 4.2rem;
  --heading-2: 3.4rem;
  --heading-3: 2.6rem;
  --heading-4: 2.2rem;
  --heading-5: 1.9rem;
  --heading-6: 1.6rem;
}
